<body class='bodyProfile'>
    <header>
        <nav>
            <h3>MyBody</h3>
            <p>Hi! <%=name%></p>
            <a href='/signout'>Sign Out</a>
        </nav>
    </header>
    <main class='myProfile'>
        <h1>My body</h1>
        <p>The people who keep track of their diet are the ones who get the best results and the ones who maintain it over time.</p>