<%- include('partials/head.ejs')%>
<body class='bodyProfile'>
    <header>
        <nav>
            <h3>MyBody</h3>
            <a>Sign Out</a>
        </nav>
    </header>
    <main class='myProfile'>
        <h1>My body</h1>
        <p>The people who keep track of their diet are the ones who get the best results and the ones who maintain it over time.</p>
        <div class='myProgress'>
            <div>
                <h3>My data</h3>
                <lu>
                    <li>Weignt: </li>
                    <li>IMC: </li>
                    <li>%GC: </li>
                    <li>Chest: </li>
                    <li>Hip: </li>
                    <li>Waist: </li>
                    <li>RightThigh: </li>
                    <li>LeftThigh: </li>
                    <li>Upper arm: </li>
                    <li>Calf: </li>
                </lu>
                <form>
                    <input type='submit' value='Upgrade'/>
                </form>
            </div>
            <div class="myRecord">
            </div>
        </div>
<%- include('partials/footer.ejs')%>