<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <title>MyBody</title>
</head>
<body class='bodySign'>
    <main>
        <div class='mainSign'>
            <h1>My Body</h1>
            <p>Sign up to monitor your progress</p>
            <form>
                <input placeholder="Name"/>
                <input placeholder="E-mail"/>
                <input placeholder="Password"/>
                <button>Sign Up</button>
            </form>
            <div>
                <p>¿You have an account?</p>
                <a href='/signin'>Sign In</a>
            </div>
        </div>
    </main>
    <footer>
        <p>© Copyright 2021 | MyBody</p>
    </footer>
</body>
</html>