*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}
header nav{
    display: flex;
    justify-content: space-between;
    padding: .5vw 2vw;
}
header nav a{
    color:#000;
}
h1, h3,h4{
    color:#D9A404;
    font-family: 'Courgette', cursive;
}
a{
    text-decoration: none;
}
main{
    flex-grow: 1;
}
.bodySign{
    background-image: url('./assets/fondoSing.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bodyProfile{
    background-image: url('./assets/fondoprofile1.jpg');
    background-position: 50% 90%;
    background-repeat: no-repeat;
    background-size: cover;
}
.bodySign main{
    display: flex;
}
.mainSign{
    align-self: center;
    text-align: center;
    width: 35vw;
    margin: 0 10vw;
    background-color: #d9d9d9a6;
    border-radius: 22px;
    border: 1px solid #D9D9D9;
}
.mainSign h1{
    margin: .5vw;
}
.mainSign form{
    display: flex;
    flex-direction: column;
}
.mainSign div{
    display: flex;
    justify-content: center;
    margin: 1vw;
}
.mainSign form{
    margin: 0vw 2vw 1vw;
}
form input{
    border-radius: 12px;
    background: #d9d9d942;
    border: 1px solid #d9a4047c;
    outline: none;
    padding: .5vw 1.5vw;
    margin: 0.5vw;
}
input[type='submit']{
    background-color: #d9a4047c;
}
.myProfile{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.myProfile h1{
    font-size: 7vmin;
    margin-bottom: 1vw;
}
.myRecord{
    width: 60vw;
    height: 25vw;
}
.myProgress{
    flex-grow: 1;
    align-items: center;
    margin: 2vw 0;
    padding: 1vw 0;
    display: flex;
    justify-content: space-around;
}
.myProgress div{
    background-color: #d9d9d9a6;
    border-radius: 22px;
    border: 1px solid #D9D9D9;
}
.mydata{
    min-width: 20vw;
}
.mydata form{
    display: flex;
    flex-direction: column;
}
li{
    list-style:none;
    margin: .5vw 2vw;
    text-align: left;
}
footer{
    padding: 1vh 0;
    text-align: center;
}
.messageError{
    min-height: 1.5vw;
    margin: 0 !important;
}
span{
    color:red;
    font-size: small;
}