*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    padding: .5vw 6vw;
}
header nav a, header nav p{
    color:#000;
    margin: 0 2vw;
}
header div{
    display: flex;
    align-items: center;
}
header div p{
    margin: 0 2vw;
}
h1, h3,h4, header nav a:hover{
    color:#D9A404;
    font-family: 'Courgette', cursive;
}
a{
    text-decoration: none;
}
input[type='submit']:hover{
    cursor:pointer;
}
main{
    flex-grow: 1;
}
.bodySign{
    background-image: url('./assets/fondoSing.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bodyProfile{
    background-image: url('./assets/fondoprofile1.jpg');
    background-position: 50% 90%;
    background-repeat: no-repeat;
    background-size: cover;
}
.bodySign main{
    display: flex;
}
.mainSign, .mainInfo > div, .mydata, .myForms >div:last-child > div{
    background-color: #e4e2e2d8;
    border-radius: 22px;
    border: 1px solid #D9D9D9;
}
.mainSign{
    align-self: center;
    text-align: center;
    width: 35vw;
    margin: 0 10vw;
}
.mainSign h1{
    margin: .5vw;
}
.mainSign form{
    display: flex;
    flex-direction: column;
}
.mainSign div{
    display: flex;
    justify-content: center;
    margin: 1vw;
}
.mainSign form{
    margin: 0vw 2vw 1vw;
}
form input{
    border-radius: 12px;
    background: #d9d9d942;
    border: 1px solid #d9a4047c;
    outline: none;
    padding: .5vw 1.5vw;
    margin: 0.5vw;
}
input[type='submit']{
    background-color: #d9a4047c;
}
.myProfile{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.myProfile h1{
    font-size: 7vmin;
    margin-bottom: 1vw;
}
.myProfile > p{
    margin-top: 1vw;
}
.selectDay{
    margin: 2vw;
}
.myProgress{
    display: flex;
    flex-direction: column;
}
.myProgress> form{
    align-self: center;
}
.mainInfo{
    display: flex;
    margin: 0 2vw;
    padding: 0 6vw;
    justify-content: space-around;
}
.new{
    margin: 3vw;
}
.mainInfo div:first-child{
    min-width: 15%;
}
.mainInfo div:last-child{
    width: 70%;
}
.mainInfo > div{
    display: flex;
    flex-direction: column;
}
.mainInfo > div div{
    height: 90%;
    padding: 0 2.5vw;
}
.mainInfo h3{
    margin: .5vw;
}
#message{
    margin: 2vw 0 0;
}
li{
    list-style:none;
    margin: .5vw 2vw;
    text-align: left;
}
.myForms{
    padding: 0 6vw;
    display: flex;
    justify-content: space-around;
}
#back{
    margin: 2vw;
}
.mydata{
    max-width: 18vw;
}
.mydata form{
    padding: .5vh 1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mydata form > input, .myRecord form > input{
    width: 99%;
}
.mydata form > div, .myRecord form > div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mydata form > div input{
    padding: .3vw 1vw;
    width: 40%;
}
.myForms > div:last-child{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.myRecord{
    flex-grow: 1;
    margin: 2vw 0;
}
.myRecord form{
    padding: 1.5vw 2vw;
    display: flex;
    flex-direction: column;
}
.myRecord form div > input{
    flex-grow: 1;
}
footer{
    padding: 1vh 0;
    text-align: center;
}
.messageError{
    min-height: 1.5vw;
    margin: 0 !important;
}
span{
    color:red;
    font-size: small;
}